*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
    background-color: #fff;
  }
  .navbar {
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    margin-top: 5px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }

  .contact-info {
    display: flex;
    align-items: center;
  }

  .contact-info i {
    margin-right: 5px;
  }

  .social-icons {
    display: flex;
    align-items: center;
    margin-right: 10px; /* Adjust margin between social icons and button */
  }

  .social-icons a {
    margin-right: 10px;
    color: black; /* Adjust icon color */
    text-decoration: none;
  }

  .button {
    background-color: #ad1717;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 1px;
  }
  .button:hover {
    background-color: #ec8585;
  }
  .nav_right{
    display: flex;
    align-items: center;
  }

  hr {
    margin: 0;
    border: 0;
    border-top: 1px solid #110c0c;
  }
  @media (min-width: 768px) {
    .contact-info, .social-icons {
      margin-bottom: 0; 
    }

    .social-icons {
      margin-left: auto; 
    }
  }
  nav{
     background: #f8f9fa; 
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 40px;
    z-index: 1000;
    
  }
  .logo{
      display: flex;
      align-items: center;
      font-size: 20px;
      padding: 0 100px;
  }
  .logo div{
      display: flex;
      flex-direction: column;
  }
  .logo h1,
    .logo span {
      margin: 0;
    }
   .logo h1 {
    color: #ad1717;
  } 
  label span{
    font-size: 10px;
    color: rgb(192, 148, 148);
  }
  .logo img{
    margin-right: 10px;
    margin-top: 5px; 
    padding-top: 5px;
    padding-bottom: 5px;
    border: solid grey 0.5px;
    border-radius: 200px;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
     color: #ad1717; 
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    /* text-transform: uppercase; */
  }
  a.active,a:hover{
    background: #b6b8b9;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    /* color: white; */
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 15px;
    }
    a:hover,a.active{
      background: none;
      color: #3f4549;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  section{
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
  }
  .hero-section {
    position: relative;
    height: 100vh;
    background: url('./images/lawyer.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    color: #fff;
    margin-top: 10rem;
  }
  .underline-heading {
    font-size: 15px;
    color: #fff; 
    border-bottom: 3px solid #ad1717; 
    padding-bottom: 3px;
    display: inline-block; 
    margin-bottom: 20px;
}
  .hero-text {
    max-width: 600px;
  }

  .hero-buttons {
    margin-top: 20px;
  }

 .button1 {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #ad1717;
    border: none;
     border-radius: 4px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .button2{
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff; 
    background-color: transparent;
    border: 1px solid #f8f9fa;
    cursor: pointer;
    border-radius: 4px;
  }

  .hero-buttons button:hover {
    background-color: #ec8585;
  }

  .sect1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: 5px;
}

.card1 {
    width: 300px;
    height: 250px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.card1:hover {
    transform: scale(1.1);
}

.card1 i {
    font-size: 30px;
    color: #2f2f30;
}

.card1 p {
    margin-top: 10px;
    font-size: 16px;
    color: #2f2f30;
}
.card1 h3{
  margin-bottom: 10px;
  font-size: 20px;
  color: #110c0c;
}
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
  }}
  /* .sect2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card2 {
    display: flex;
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
} */
.card-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card2 {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 0 20px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card2-content {
  flex: 1;
}

.card2 > img {
  max-height: 100%;
  border-radius: 8px;
  /* margin-left: 20px; */
  width: 40%;
  object-fit: cover;
  border-right: 1px solid #ddd;
}
.text-content {
  flex: 1;
  padding: 20px;
}